
{% extends 'shop/base.html' %}
{%load static%}
{% block body %}
<div class="container">
  <div class="row">
    {% for i in x %}
    <a href="{% url 'shop:detail_view' i.id%}">
      <div class="col-md-3 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="{{ i.image }}" alt="Card image cap">
          <div class="card-body">
            {% if i.title|length > 7 %}
              <h5 class="card-title mb-1" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">{{ i.title }}</h5>
            {% else %}
              <h5 class="card-title mb-1">{{ i.title }}</h5>
            {% endif %}
            <p class="card-text text-muted mb-1" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">{{ i.price }}</p>
            <a href="#" class="btn btn-primary btn-block">Add to Cart</a>
           
          </div>
        </div>
      </div>
    </a>
    {% endfor %}
    <div class="row">
      <div class="col-md-12">
      <nav class="text-center">
        {% if x.has_previous%}
        <li><a href="?page={{x.previous_page_number}}">previous</a></li>
        {%endif%}
      </nav>
    
  </div>
  </div>
  </div>

</div>
{% endblock %}
